<footer class="container-fluid bg-dark mt-auto mb-1 " >
    <div class="row">
   <small class=" text-center my-3" style="color: whitesmoke;">&copy; The yelpcamp project for 2023.</small>
</div>
</footer>
