<% layout('boilerplate') -%>
<div class="container text-center">
    
    <h1 class="error-code" style="font-size: 20rem;"><span class=""><%= status %></span></h1>
    <p>Oops! <%= message %>!</p>
    <a href="/campgrounds" class="btn-outline"> Back to Home</a>
</div>

<div class="bwt-footer-copyright">
<div class="container">
  <div class="row">
  
  </div>
</div>
</div>